@model pdemo.Models.FlyOnTickets

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FlyOnTickets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingNumber" />
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightID" class="control-label"></label>
                <input asp-for="FlightID" class="form-control" />
                <span asp-validation-for="FlightID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeoffTime" class="control-label"></label>
                <input asp-for="TakeoffTime" class="form-control" />
                <span asp-validation-for="TakeoffTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
